.Colorletters {
    color: white;
}

.grid-container1 {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
}

.grid-item1 {
    padding: 20px;
    font-size: 15px;
}

#Ajuste {
    float: right;
    font-weight: bold;
}

#AjusteTitulo {
    float: left;
    font-weight: bold;
}
p{
    float: left;
}